/* Colori */

/* Main */

#contenitore_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #DDDDDD;
}

.card{
    border-radius: .5rem!important;
}

.fas{
    font-size: 2rem;
}